@model List<Product>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<br />
<a href="/Product/AddProduct" class="btn btn-outline-secondary">New</a>
<br />
<br />

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">CategoryId</th>
            <th scope="col">Image</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var d in Model)
        {
            <tr>
                <th>@d.Id</th>
                <td>@d.Name</td>
                <td>@d.Description</td>
                <td>@d.Price</td>
                <td>@d.Quantity</td>
                <td>@d.CategoryId</td>
                <td>
                    @if (!string.IsNullOrEmpty(d.Image))
                    {
                        <img src="~/images/@d.Image" alt="Product Image" style="max-width: 100px;">
                    }
                </td>
                <td>@Html.ActionLink("EditProduct","EditProduct","Product", new{id = d.Id}, new{@class="btn btn-outline-info"})</td>
                <td><a href="/Product/DetailsProduct/@d.Id" class="btn btn-outline-success">Details</a></td>
                <td><a class="btn btn-outline-danger" onclick="confirmDelete(@d.Id)">Delete</a></td>

            </tr>
        }

    </tbody>
</table>
<script>
    function confirmDelete(insId) {
        var result = confirm("Are you sure you want to delete this Product?");
        if (result) {
            window.location.href = "/Product/DeleteProduct/" + insId;
        }
    }
</script>